<div id="page-bottom">
    <div id="page-bottom-content">
        <h3>About us</h3>
        <p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, tenetur! Quam libero dicta id voluptate aut at voluptatum minima earum dolorem qui! Impedit minus temporibus sunt! Aspernatur magnam, cum itaque consequatur laboriosam iste labore laborum facilis natus, doloremque dolore, sunt earum eveniet ea vitae nulla rem laudantium corrupti dolorem voluptate.
        </p>
    </div>
    <div id="page-bottom-sidebar">
        <h3>Quick Links</h3>
        <ul class="list">
            <li class="first"><a href="#">Home</a></li>
            <li><a href="#">Register</a></li>
            <li class="last"><a href="#">Login</a></li>
        </ul>
    </div>
    <br class="clearfix" />
</div>
</div>
<!-- wrapper ends -->

<div id="footer">
<h2>&copy; ShareIt. All rights reserved. Design by <a href="" rel="nofollow">JIT</a></h2>
</div>
</body>
</html>