{% load static %}

{% include 'header.html' %}

{% include 'nav.html' %}

{% include 'slider.html' %}

	<!-- page starts -->
	<div id="page">
		
		
		<div id="content">
			<div class="box">
				<h2>Welcome to ShareIt , Home Page</h2>
				<p style="text-align:justify;">
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat consequatur sit vitae, a optio illo. Ab tempora sed sint architecto et! Hic dolores iusto inventore commodi saepe, itaque reiciendis unde atque est ut consequatur debitis in nobis suscipit eius expedita harum aliquid ipsum officia non laborum ducimus dolorum! Quas voluptatibus odit quasi, vero, maxime dolorum ab repellat delectus sint aliquam dolore velit officia dolor obcaecati beatae veniam, minima nostrum aut! Labore, minima. Voluptas quidem, aperiam voluptatem beatae, eum alias ab repellendus sed doloribus possimus tempore, vitae obcaecati dicta ad laboriosam nemo? Modi, distinctio! Hic officia vero, consequuntur maiores in iste!					
				</p>
			</div>
			<br class="clearfix" />
		</div>


		<div id="sidebar">
			<div class="box">
				<h3>Social Links</h3>
				<ul class="list">
					<li class="first"><a href="#">@Gmail</a></li>
					<li><a href="#">@Linkedin</a></li>
					<li><a href="#">@Instagram</a></li>
					<li class="last"><a href="#">@Facebook</a></li>
				</ul>
			</div>
		</div>


		<br class="clearfix" />
	</div>
	<!-- page ends -->

{% include 'footer.html' %}