{% load static %}

{% include 'userheader.html' %}

{% include 'usernav.html' %}

<style>
.inpt
{
 width:100%;	
}	
</style>

<!-- page starts -->
<div id="page">
		
<font style="font-size:20px;" color="blue">{{output}}</font>				
<h2>Share Notes Here!!!</h2>
<form method="post" action="/sharenotes/" enctype="multipart/form-data">
{% csrf_token %}	
<table cellspacing="20">
<tr>
<td>Title</td>
<td><input class="inpt" type="text" name="title" /></td>	
</tr>
<tr>
<td>Category</td>
<td><select class="inpt" name="category">
<option>Select Category</option>
<option>Project Report</option>
<option>Synopsis</option>
<option>Thesis</option>
<option>Research Paper</option>	
</select></td>	
</tr>
<tr>
<td>Description</td>
<td><textarea rows="5" name="description"></textarea></td>	
</tr>
<tr>
<td>Upload files</td>
<td><input class="inpt" type="file" name="file" /></td>	
</tr>
<tr>
<td><input type="submit" value="Submit" /></td>	
</tr>
</table>	
</form>


<br class="clearfix" />
</div>
<!-- page ends -->

{% include 'loginfooter.html' %}