{% load static %}

<!-- slider starts -->
	<div id="slider">
		<div class="viewer">
			<div class="reel">
				<div class="slide">
					<img src="{% static 'images/w1.jpg' %}" width="870" height="230" alt="" />
				</div>
				<div class="slide">
					<img src="{% static 'images/banner2.jpeg' %}" width="870" height="230" alt="" />
				</div>
				<div class="slide">
					<img src="{% static 'images/banner1.jpeg' %}" width="870" height="230" alt="" />
				</div>
				<div class="slide">
					<img src="{% static 'images/p1.jpg' %}" width="870" height="230" alt="" />
				</div>
				<div class="slide">
					<img src="{% static 'images/b2.jpg' %}" width="870" height="230" alt="" />
				</div>
			</div>
		</div>
		<div class="indicator">
			<span>1</span>
			<span>2</span>
			<span>3</span>
			<span>4</span>
			<span>5</span>
		</div>
	</div>
	<!-- slider ends -->
